* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #102C57;
}

html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}


.pin_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.front_page_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front_page_section h1,
.front_page_section p {
    margin-top: 10px;
}

.front_page_section .profile_pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.front_page_bottom_section a {
    width: 100%;
}

.front_page_section .lg_button {
    width: 100% !important;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

    background-color: #102C57;
    color: white;
    border: none;
    cursor: pointer;
}

.lg_button i {
    color: white !important;
}

.pin_page_heading {
    font-size: 22px;
    text-align: left !important;
}

.pin_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

input[type="password"] {
    width: 65% !important;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: 1px solid #102C57;
}

input[type="password"]:hover {
    border: 2px solid #102C57;
    outline: none;
    box-shadow: none;
}

#submitButton {
    width: 30%;
    padding: 10px 20px;

    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

    background-color: #102C57;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #102C57;
}

.background {
    width: 100%;
    height: 90vh;
    background-color: #ffffff;
    padding: 20px;
}

.border {
    width: 100%;
    height: 100%;
    border: 1.5px solid #102C57;
    border-radius: 20px;
    padding: 20px;
}

.border h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    color: #102C57;
}

.top {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.border .contact {
    margin: 25px 0px;
}

.border .contact h2 {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #102C57;
}

.border .contact .content a {
    text-decoration: none;
    color: #102C57;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.border .contact .content,
.content {
    margin: 15px 0px;
    display: flex;
    align-items: center;
}

.border .contact .content .circle,
.content .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #102C57;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.border .contact .content .social,
.content .social {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.border .contact .content .social i,
.content .social i {
    font-size: 25px !important;
}

hr {
    opacity: .3;
}